body {
	margin: 0px;
}

* {
  font-family: arial;
}

#header {
	height: 70px;
	width: 100%;
	display: block;
	min-width: 900px;
}

#circle {
	width:50px;
	height: 50px;
	border-radius: 100%;
	display: block;
	margin: 10px;
	float: right;
	background-color: #8865c7;
	position: static;
	margin-right: 10px;
}

#circle p {
	color: white;
	font-size: 15px;
	text-align: center;
	: 
}

#note {
	width:30px;
	height: 30px;
	border-radius: 100%;
	display: block;
	float: right;
	background-color: #e4d0d0;
	position: static;
	margin: 20px 5px;
}
#note svg {
	margin: auto;
	display:  block;
	margin-top: 2px;
}

#dots {
	width:30px;
	height: 30px;
	display: block;
	float: right;
	position: static;
	margin: 20px 6px;
}
#dots svg {
	height: 30px;
	width: 30px;
}

#search {
	width: 60%;
	height: 100%;
	float: left;
	display: block;
	position: relative;
	left: 144px;
	min-width: 600px;
	background-color: green;
}

#box {
	width: 35px;
	height: 50%;
	margin: auto;
	display: inline-block;
	position: relative;
	background-color: #445fc3;
	margin-top: 17.5px;
	left: 0px;
}

#box svg {
	padding: 5.5px;
}

input {
	width: 65%;
	height: 50%;
	position: inline;
	float: left;
	margin: 17.5px 0px;
	font: arial;
	font-size: 14px;
	color: black;
	background: url("data:image/svg+xml;utf8,<svg fill='#000000' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M12 14c1.66 0 2.99-1.34 2.99-3L15 5c0-1.66-1.34-3-3-3S9 3.34 9 5v6c0 1.66 1.34 3 3 3zm5.3-3c0 3-2.54 5.1-5.3 5.1S6.7 14 6.7 11H5c0 3.41 2.72 6.23 6 6.72V21h2v-3.28c3.28-.48 6-3.3 6-6.72h-1.7z'/><path d='M0 0h24v24H0z' fill='none'/></svg>")  no-repeat;
	background-position: right;
	min-width: 400px;
}

#logo {
	height: 70px;
	width: 10%;
	margin: auto;
	display: block;
	position: absolute;
	background-color: purple;
	min-width: 130px;
}

#logo img {
	height: 35px;
	width: auto;
	margin: auto;
	display: block;
	position: fixed;
	padding: 17.5px 20px;
}

#header2 {
	height: 70px;
	width: 100%;
	background-color: red;
	top: 70px;
	position: relative;
}

#icons2 {
	height: 100%;
	width: 25%;
	background-color: blue;
	position: absolute;
	left: 75%;
}

.boxes {
	height: 50%;
	width: 40px;
	background-color: #dcdbdb;
	display: inline-block;
	float: right;
	margin: 0 1px;
	position: relative;
	top: 25%;
	right: 10%;
	border-radius: 2px;
	border: 1px solid #5f5c5c;
}

#one {
	width: 60px;
	margin-left: 5%;
}

#two {
	margin: 0;
}

#three {
	margin: 0;
	background-color: #b8b8bd;
}

.boxes svg {
	height: 25px;
	width: 25px;
}

#two svg {
	position: relative;
	left: 7.5px;
	top: 5px;
}

#three svg {
	position: relative;
	left: 7.5px;
	top: 5px;
}

#one svg {
	position: relative;
	left: 17.5px;
	top: 5px;
}

#list {
	height: 100%;
	width: 40%;
	background-color: pink;
	position: absolute;
	left: 10%;
	min-width: 600px;
}

ul {
	list-style-type: none;
	margin: 0;
	background-color: purple;
	position: relative;
	top: 26px;
}

li {
	display: inline;
}
