body {
	margin: 0px;
}
#header {
	width: 100%;
	height: 10%;
	margin: 0;
}
* {
  font-family: arial;
}

#header {
	height: 70px;
	width: 100%;
	display: block;
}

#circle {
	width:50px;
	height: 50px;
	border-radius: 100%;
	display: block;
	margin: 10px;
	float: right;
	background-color: #8865c7;
	position: static;
	margin-right: 10px;
}

#circle p {
	color: white;
	font-size: 15px;
	text-align: center;
	: 
}

#note {
	width:30px;
	height: 30px;
	border-radius: 100%;
	display: block;
	float: right;
	background-color: #e4d0d0;
	position: static;
	margin: 20px 5px;
}
#note svg {
	margin: auto;
	display:  block;
	margin-top: 2px;
}

#dots {
	width:30px;
	height: 30px;
	display: block;
	float: right;
	position: static;
	margin: 20px 6px;
}
#dots svg {
	height: 30px;
	width: 30px;
}
#icons {
}

#search {
	width: 60%;
	height: 100%;
	float: right;
	display: block;
	position: relative;
	left: -280px;
}

#box {
	width: 35px;
	height: 50%;
	margin: auto;
	display: inline-block;
	position: relative;
	background-color: #445fc3;
	margin-top: 17.5px;
	left: 0px;
}

#box svg {
	padding: 5.5px;
}

input {
	width: 65%;
	height: 50%;
	position: inline;
	float: left;
	margin: 17.5px 0px;
	font: arial;
	font-size: 14px;
}

#logo {
	height: 70px;
	width: 10%;
	margin: auto;
	display: block;
	position: absolute;
}

#logo img {
	height: 35px;
	width: auto;
	margin: auto;
	display: block;
	position: fixed;
	padding: 17.5px 20px;
}




